# Backend (Java/Spring)
backend gestion banque/target/
backend gestion banque/.settings/
backend gestion banque/.classpath
backend gestion banque/.project
backend gestion banque/.factorypath
backend gestion banque/.fastRequest/
backend gestion banque/.idea/
backend gestion banque/*.iml

# Frontend (Angular)
Frontend/Frontend_Gestion_De_Banque/node_modules/
Frontend/Frontend_Gestion_De_Banque/dist/
Frontend/Frontend_Gestion_De_Banque/.angular/
Frontend/Frontend_Gestion_De_Banque/.vscode/

# IDE
.metadata/

# Système
.DS_Store
Thumbs.db